body {
    background-color: #2f4d97;

}

.ui {
    border: 4px solid #534545; /* Border for container */
    border-radius: 20px;
    width: 500px; /* Set the width */
    height: auto; /* Set the height */
    background-color: rgb(241, 253, 253);
    margin-left: auto;
    margin-right: auto;
}


/* title styles */
.title {
    color: rgb(30, 19, 19);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* flex buttons */
.container {
    display: flex;
    justify-content: center; /* Aligns items along the main axis */
    align-items: center; /* Aligns items along the cross axis */
    margin-top: 100px;
}

.container div {
    padding: 10px; /* Padding for items */
}

/* button style */
/* Target the button using its class */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Change button color when hovered over */
.btn:hover {
    background-color: #9fc4a1;
}


/* restart button styles */
#restart {
    background-color: #534545;
    color: aquamarine;
    padding: 10px 50px;
    border: none;
    border-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#restart:hover {
    background-color: #fb2525;
}


.restart {
    display: flex;
    justify-content: center; /* Aligns items along the main axis */
    align-items: center; /* Aligns items along the cross axis */
}

.restart div {
    padding: 10px; /* Padding for items */
}


/* scores styles */
.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #534545; /* Border for container */
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.scores div {
    padding: 10px;
    text-align: center;
}

.scores p {
    margin-top: 0;
    margin-bottom: 0;
    font-style: oblique;
    font-size: large;
}

.scores h2 {
    margin-top: 0;
    color: #fb2525;
    margin-bottom: 0;
}

/* round */
.round {
    display: flex;
    justify-content: center;
    align-items: center;
}

.round div {
    padding: 10px;
    text-align: center;
}

.round h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-style:normal;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.round h2 {
    margin-top: 0;
    color: #000000;
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* popup styles */

/* center popup */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Additional styles for sizing, background, etc. */
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* final score styles*/
.finalscores {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.finalscores div {
    padding: 10px;
    text-align: center;
}
.finalscores p {
    margin-top: 0;
    margin-bottom: 0;
    font-style: oblique;
    font-size: large;
}
.finalscores h2 {
    margin-top: 0;
    color: #fb2525;
    margin-bottom: 0;
}
/* closebutton styles */
.closebtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Change button color when hovered over */
.closebtn:hover {
    background-color: #9fc4a1;
}
.btnflex {
    display: flex;
    justify-content: center; /* Aligns items along the main axis */
    align-items: center; /* Aligns items along the cross axis */
    margin-bottom: 10px;
}